In [1]:
import numpy as np
import pandas as pd

In [2]:
interactions_path = "./data/RAW_interactions.csv"
recipes_path = "./data/RAW_recipes.csv"

### Loading Data

In [3]:
interactions_raw = pd.read_csv(interactions_path)
recipes_raw = pd.read_csv(recipes_path)

In [11]:
interactions_raw.head(1)

,user_id,recipe_id,date,rating,review
0,38094,40893,2003-02-17,4,Great with a salad. Cooked on top of stove for...

In [16]:
interactions_raw.groupby('recipe_id').head(5)

,user_id,recipe_id,date,rating,review
0,38094,40893,2003-02-17,4,Great with a salad. Cooked on top of stove for...
1,1293707,40893,2011-12-21,5,"So simple, so delicious! Great for chilly fall..."
2,8937,44394,2002-12-01,4,This worked very well and is EASY. I used not...
3,126440,85009,2010-02-27,5,I made the Mexican topping and took it to bunk...
4,57222,85009,2011-10-01,5,"Made the cheddar bacon topping, adding a sprin..."
...,...,...,...,...,...
1132362,116593,72730,2003-12-09,0,Another approach is to start making sauce with...
1132363,583662,386618,2009-09-29,5,These were so delicious! My husband and I tru...
1132364,157126,78003,2008-06-23,5,WOW! Sometimes I don't take the time to rate ...
1132365,53932,78003,2009-01-11,4,Very good! I used regular port as well. The ...
1132366,2001868099,78003,2017-12-18,5,I am so glad I googled and found this here. Th...

In [36]:
interactions_raw.groupby(['recipe_id', 'rating'])['user_id'].agg('count').reset_index()

        recipe_id  rating  user_id
0              38       4        3
1              38       5        1
2              39       3        1
3              40       1        1
4              40       4        2
...           ...     ...      ...
367682     537459       5        1
367683     537485       5        1
367684     537543       0        1
367685     537671       0        1
367686     537716       5        1

[367687 rows x 3 columns]

In [34]:
interactions_raw.groupby(['recipe_id', 'rating'])['user_id'].agg('count').reset_index().groupby('recipe_id')['user_id'].apply(list)

recipe_id
38           [3, 1]
39              [1]
40        [1, 2, 6]
41           [1, 1]
43              [1]
            ...
537459          [1]
537485          [1]
537543          [1]
537671          [1]
537716          [1]
Name: user_id, Length: 231637, dtype: object